NODE_ENV=
PORT=
API_PREFIX=

DATABASE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

RABBITMQ_URL=

OPENROUTER_API_KEY=

CLIENT_URL=

SWAGGER_TITLE=
SWAGGER_VERSION=

CORS_ORIGIN=